@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 


@font-face {
  font-family: myFirstFont;
  src: url('./assets/fonts/CoconRegularFont.woff');
}

  .heading{
    font-family: myFirstFont;
    font-weight: 500;
  }


  p{
    font-family: 'Noto Sans', sans-serif;
  }

  .noto{
    font-family: 'Noto Sans', sans-serif;
  }


  .inter {
    font-family: "Inter", sans-serif;

  }